.page {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.welcome, .footer, .desc-text {
    text-align: center;
}

.welcome {
    margin-bottom: 30px;
}

.desc-text {
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer {
   margin-top: 30px;
}

.footer a {
    color: black;
    margin-left: 8px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}



.list {
    width: 100%;
}

.item {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    color: black;
}

.item-wrap:last-child > div {
    margin-bottom: 0 !important;
}

.item > div {
    display: inline-block;
}

.item.add-new {
    margin-bottom: 30px;
}

.item.update {
    margin-top: 40px;
    background-color: #508CB9;
    color: white;
    padding-top: 23px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.circle {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 15px;
}

.circle.overlay {
    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}

.circle.overlay > i {
    margin-top: 11px;
}

.circle.plus {
    font-size: 28px;
    background-image: none;
    background-color: #65AD73;
    color: white;
    text-align: center;
}

.circle.plus > i {
    margin-top: 12px;
    margin-left: 1px;
}

.btn-remove {
    font-size: 32px;
    margin-top: 20px;
    margin-right: 20px;
    color: #CA181D;
    cursor: pointer;
}


a.name {
    color: black;
    text-decoration: none;
    width: initial;
}

.name {
    position: absolute;
    margin-top: 28px;
    font-size: 20px;
    max-width: 280px;
    word-wrap: normal;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.chevron {
    float: right;
    font-size: 42px;
    margin-top: 14px;
    margin-right: 20px;
    color: #5F5D5D;
}

.right {
    float: right;
}

.right > div {
    display: inline-block;
}


/* person add */

.input  {
    margin-top: 17px;
    margin-left: 18px;
}

.input input, .button {
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
}

.input input {
    width: 253px;
}

.button {
    width: 60px;
    margin-left: 5px;
    background-color: #65AD73;
    border: none;
    color: white;
    padding-bottom: 9px;
    text-align: center;
    cursor: pointer;
}

.button.add {
    width: 60px;
}

.button.change {
    width: 90px;
}


.busy {
    cursor: progress !important;

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
    background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
    background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-animation: move-strips 2s linear infinite;
    -moz-animation: move-strips 2s linear infinite;
    animation: move-strips 2s linear infinite;
}

.message {
    background-color: #F7EECB;
    border: 1px solid #f0c36d;
    border-radius: 3px;
    padding: 10px 14px;
    margin-bottom: 15px;
    position: absolute;
    max-width: 372px;
    width: 100%;
    margin-top: -55px;
}

.message.error {
    background-color: #F7CBCB;
    border: 1px solid #F06D6D;
}

.message > .close-btn {
    float: right;
    margin-top: -18px;
    color: #9A8152;
    cursor: pointer;
}

.message.error > .close-btn {
    color: #9A5252;
}

@-webkit-keyframes move-strips {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

@-moz-keyframes move-strips {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px;}
}
